{% extends 'Inscrire/base.html' %}

{% block content %}
<br><br>
<center>
    <div class="col-sm-4">
      <input type="text" style="margin: 2%;margin-bottom: auto;align-content: center;" class="form-control" placeholder="Entrer votre matricule"> <br>
      <input type="text" style="margin: 2%;margin-bottom: auto;align-content: center;" class="form-control" placeholder="Entrer votre numéro de payement"> <br>
    <button class="btn btn-success" >Inscrire</button>
  </div>
  </center>

  <br><br><br><br><br>
{% endblock %}