{% extends 'Inscrire/base.html' %}

{% block content %}

<div class="content update">
    <h2>FICHE INSCRIPTION EN MASTER M1</h2>
   <form action="{% url 'Inscrire:detail' %}" method="POST">
    
    {% csrf_token %}
      
    <h2 style="color: darkgreen;">INFORMATIONS GENERALES</h2><label></label><br>
     
     <br>
       <label for="{{ form.nom.id_for_label }}" class="control-label"><b>Nom et  prénom</b></label>
       <label for="{{ form.photo.id_for_label }}"><b>Photo</b></label>
       <!-- <input type="text" name="nom" class="form-control">   -->
       {{ form.nom }}
       <BR>
      
       <!-- <input type="file" name="photoEtudiant" class="form-control">  -->
       {{form.photoEtudiant}}
      <br>
  
      <label for="nni"><b>Numéro National d'Identité (NNI)</b></label>
      <label for="sexe"><b>Sexe</b></label><br />
      
      
      <br>
      {{form.nni}}
      <input type="radio" name="sexe" value="H" checked="checked" style="
          width:50px;
          height: 25px;
          margin-left:5px;
          box-shadow:1px 1px 1px green;
          cursor:pointer;
          ">H
      <input type="radio" name="sexe" value="F" style="
          width:50px;
          height: 25px;
          margin-left:5px;
          box-shadow:1px 1px 1px green;
          cursor:pointer;
          ">F      
      <label for="nationalite"><b>Pays</b></label>
      <label for="dateNaissance"><b>Date de naissance</b></label>
      <br>
          <!-- <select class="form-control" id="nationalite" name="nationalite" >
            <option value="H"> Mauritanie</option>
            <option value="F"> Etranger</option>
            </select> -->
            <!-- <label for="a"></label><br /> -->
            <input type="text" name="nationalite" >
      
      <input type="text" name="dateNaissance" value="YYYY-MM-DD" id="datenaiss" >
      <br>
      <label for="lieuNaissance"><b>Lieu de naissance</b></label>
      <label for="telephone"><b>Tél de l'étudiant(e)</b></label>
      
      <br>
      
      <input type="text" name="lieuNaissance" class="form-control">
      <input type="text" name="telephone" class="form-control" >
      <br>
      <label for="email"><b>E-mail de l'étudiant(e)</b></label>
      <label for="carteIdentite"><b>Carte d'identité</b></label><br>
      <input type="text" name="email" class="form-control">
      <!-- {{form.email}} -->
      <input type="file" name="carteIdentite" class="form-control" onclick="ValiderMail(this.form)">
      <br> 


  
  
   <label>
      <h2 style="color: darkgreen;">BACCALAUREAT</h2></label><br><label ></label><br>
      
      <label for="numBac"><b>Numéro du Bac</b></label>
      <label for="bac"><b>Série</b></label><br />
      <input type="text" name="numBac" class="form-control">
      <br>
      <input type="radio" name="bac" value="C" checked="checked" style="
          width:50px;
          height: 25px;
          margin-left:5px;
          box-shadow:1px 1px 1px green;
          cursor:pointer;
          ">C
          <input type="radio" name="bac" value="D" style="
          width:50px;
          height: 25px;
          margin-left:5px;
          box-shadow:1px 1px 1px green;
          cursor:pointer;
          ">D
       
       <label for="releveNote"><b>Réléve de note</b></label><br>
       <label for="session" name="session"><b>Session</b></label><br />
       <input type="file" name="releveNote" class="form-control">
      <br>
      <input type="radio" name="session" value="Normale" checked="checked" style="
      width:50px;
      height: 25px;
      margin-left:5px;
      box-shadow:1px 1px 1px green;
      cursor:pointer;
      ">Normale
  <input type="radio" name="session" value="Complémentaire" style="
      width:50px;
      height: 25px;
      margin-left:5px;
      box-shadow:1px 1px 1px green;
      cursor:pointer;
      ">Complémentaire  
      <label for="moyen"><b>Moyenne générale</b></label>
        <label></label><br />
        <input type="moyen" name="moyen" class="form-control">
          
            <br />
            <br>
  
         
            <label></label>
            <br>
           
            <label>
              <h2 style="color: darkgreen;">LICENCE</h2></label><br><label ></label><br>

          <label for="anObL"><b>Année d'obtention</b></label>
      <label for="licence"><b>Domaine de la licence</b></label>
      <br>
          
      
      <input type="text" name="anObL" value="YYYY-MM-DD" id="datenaiss" >
      <input type="text" name="licence" >
      <br>

      <label>
        <h2 style="color: darkgreen;">NIVEAU ET SPECIALITE</h2></label><br><label ></label><br>

        
        
          <label for="filiere"><b>Spécialité accordée</b></label><br /><label></label><br>
          <select class="form-control" id="filiere" name="filiere" >
           {% for filiere in filieres  %}
            <option value="{{ filiere }}"> {{ filiere.nom }}</option>
            {% endfor %}
          </select>
            <br />  
        
          
            <br>
            <label></label><br> <label ></label><label ></label><br>

            <label>
              <h2 style="color: darkgreen;">PAIEMENT</h2></label><br><label ></label><br>

      Votre inscription montre que vous avez confirmé l'exactitude des information susmentionnées <br>
      et vous engage à respecter les conditions fixées par l'institut. 
      <label for="a"></label><label for="a"></label>
      <br>
      
      <input type="submit" value="Payer">
      <input type="reset" value="Annuler">
      
            </div></div>
  </form>
  
  
  {% endblock %}