{% extends 'Inscrire/base.html' %}

{% block content %}
<div class="content update">
<h2>Public</h2>

<ul>
    <li><a href="{% url 'Inscrire:mppub' %}" style="color: #319ca3; text-decoration: none; font-size: 1.3em;">Niveau M1</a></li>
    <li><a href="{% url 'Inscrire:mppub' %}" style="color: #319ca3; text-decoration: none; font-size: 1.3em;">Niveau M2</a></li>
  
</ul>


<h2>Privée</h2>
<ul>
    <li><a href="{% url 'Inscrire:mppub' %}" style="color: #319ca3; text-decoration: none; font-size: 1.3em;">Niveau M1</a></li>
    <li><a href="{% url 'Inscrire:mppub' %}" style="color: #319ca3; text-decoration: none; font-size: 1.3em;">Niveau M2</a></li>

</ul>

<br><br><br><br>
{% endblock %}