
<br><br><br><br><br><br><br><br>
<div class="content update">
    <hr>
    <table><tr><td>République Islamique de Mauritanie</td><td style="text-align: right;">Institut Supérieur de Comptabilité et d’Administration des Entreprises</td>
        </tr>
<tr>   <td>Ministère de l’Enseignement Supérieur et de la Recherche Scientifique</td><td style="text-align: right;">Département de Méthodes Quantitatives et Informatique</td></tr>
    <tr><td colspan="2" rowspan="3" ><center><img src="../static/inscription/img/logo_iscae.png" height="50"></center></td></tr></table>

    <center>Réçu</center>
    <br>
    N. Bac: {{numBac}}
    <br>
    Prénom et Nom: {{nom}}
    <br>
    Vous êtes inscrits sans payement Imprimer ce réçu et une fois que vous êtes chez l'ISCAE payer
    <br> le frais de l'inscription pour obtenir le réçu finale d'inscription
    <hr>
    
</div>
